body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.terminal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 1s ease, transform 1s ease;
}

.terminal {
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 24px;
}

.blinking-cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

.lotus-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

.hidden {
    opacity: 0;
}

#lottie-lotus {
    width: 300px;
    height: 300px;
}
